.main-side 
  .main-header
    .main-header__left
      .main-header__left__group
        = @group.name
      .main-header__left__member
        Member:
        %ul
          %li
            -@group.users.each do |user|
              =user.name
    .main-header__right-btn
      =link_to 'edit', 'edit', class: 'main-header__right-btn__edit'
  .main-chat
    = render @messages
  
  .main-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'main-form__message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'